- Discover up to 100 nodes
  - Send nodes on nodes endpoint
- Send address to each discovered node
  - Receive nodes on send_node endpoint
- Receive transactions on send_transactions endpoint
  - Check if they're valid and not duplicates
    - Send to other nodes
    - Store in independent block
- Receive blockchains on send_blockchain endpoint
  - Check if they're valid and longer than current blockchain
    - Send to other nodes
    - Replace current blockchain
    - Remove transactions from independent block that are in the blockchain
- Chech if mining is in argv
  - Start a thread to mine the independent block
    - Add independent block to the blockchain
    - Send new blockchain to other nodes
    - Create a new independent block
- Display blockchain on blockchain endpoint
- Display wallet on wallet endpoint
  - Generate keys
  - Store keys
  - Delete keys
  - Display keys
  - Display balances
  - Create transactions
